<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for Firebase to work -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calendapp"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Calendapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Recuperar Password Activity -->
        <activity
            android:name=".ui.theme.recuperarpass.RecuperarPasswordActivity"
            android:exported="true"
            android:label="@string/recuperar_password_activity_label"
            android:theme="@style/Theme.Calendapp" />

        <!-- Registro Activity -->
        <activity
            android:name=".ui.theme.registro.RegistroActivity"
            android:exported="true"
            android:label="@string/registro_activity_label"
            android:theme="@style/Theme.Calendapp" />

        <!-- Welcome Activity -->
        <activity
            android:name=".ui.theme.welcome.WelcomeActivity"
            android:exported="true"
            android:label="@string/welcome_activity_label"
            android:theme="@style/Theme.Calendapp" />

        <activity
            android:name=".ui.theme.usermanagement.UserManagementActivity"
            android:exported="true"
            android:label="User Management"
            android:theme="@style/Theme.Calendapp"/>


    </application>

</manifest>
